<html>
<link rel="stylesheet" href="/style.css" />

  <head>
    <h1>Chitter</h1>
    <div><h3>Welcome to Chitter!</h3></div>
    <ul><h3><a href='/signup'>Sign Up</a></h3><h3><a href='/login'>Log In</a></h3></ul>
  </head>

  <body>
  </body>

</html>