<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div>
      <img class="chitter_logo" src="/chitter_logo.webp" alt="Chitter Logo" />
    </div>   

    <div class="topnav">
      <a href="/">Home</a>
      <a href="/login">Log In</a>
      <a href="/signup">Sign Up</a>
    </div>
    
    <div class="subtitle">
      <h1>Welcome to Chitter!</h1>
    </div>

    <div>
      <h2>These are the last 3 peeps:</h2>
    </div>

    <% @peeps.last(3).reverse_each do |peep| %>
      <div>
        <%= peep.title %>
        <%= peep.time %>
        <%= peep.maker_id %>
        <%= peep.content %>
      </div>
    <% end %>
    </div>
    <form method="post" action="/logout">
        <input type="submit" value="Log Out">
  </body>
</html>