<html>
<link rel="stylesheet" href="/style.css" />
  <div class="title">
    <h1>Log In</h1>
  </div>
  <head>
  </head>
  <body>
    <h1>Log In to see all the peeps</h1>
      <form method="POST" action="/login" >
      <input type="text" name="username" placeholder="Username" />
      <input type="text" name="password" placeholder="Password" />
      <input type="submit" value="Log In">
  </body>
</html>