<html>
  <link rel="stylesheet" href="/style.css" />

  <head>
  </head>

  <body>
    <div>
      <img class="chitter_logo" src="/chitter_logo.webp" alt="Chitter Logo" />
    </div>   

    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/login">Log In</a>
      <a href="/signup">Sign Up</a>
    </div>
    <h1>Sign up for Chitter!</h1>
      <form method="POST" action="/signup" >
      <input type="text" name="name" placeholder="Name" />
      <input type="email" name="email" placeholder="Email" />
      <input type="text" name="username" placeholder="Username" />
      <input type="password" name="password" placeholder="Password" />
      <input type="submit" value="Sign up">
  </body>
</html>
