<html>
<link rel="stylesheet" href="/style.css" />
  <div class="title">
    <h1>Sign Up</h1>
  </div>
  <head>
  </head>
  <body>
    <h1>Sign up for Chitter!</h1>
      <form method="POST" action="/signup" >
      <input type="text" name="name" placeholder="Name" />
      <input type="text" name="email" placeholder="Email" />
      <input type="text" name="username" placeholder="Username" />
      <input type="text" name="password" placeholder="Password" />
      <input type="submit" value="Sign up">
  </body>
</html>
